{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">
    <div class="container mx-auto">
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                <h4 class="card-title mb-4">Enter Phone Number</h4>
                <form action="{% url 'send_otp' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Phone Number" name="phone_number">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Send OTP </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
