{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NYKAA FASHION</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li> <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form></li>
            <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span>
                <!-- <div class="tip">2</div> -->
            </a></li>
            <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                <div class="tip">{{ cart_count }}</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="{% url 'index' %}"><img class="w-50 h-50" src="{%static 'img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="{% url 'loginn' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'index' %}"><img src="{%static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                            <!-- <li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li> -->
                            <li><a href="{% url 'store' %}">Shop</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'cart' %}">Shop Cart</a></li>
                                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                </ul>
                            </li>
                            <!-- <li><a href="{% url 'store' %}">all category</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'cart' %}">Shop Cart</a></li>
                                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                </ul>
                            </li> -->
                            
                           <li> <div class="col-lg  col-md-6 col-sm-12 col">
                                <form action="{% url 'search' %}" class="search" method='GET'>
                                    <div class="input-group w-100">
                                        <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword" value="{{ request.GET.keyword }}">
                                            <select class="custom-select" name="sort_by">
                                            <option value="">sort by</option>
                                            <!--<option value="popularity">Popularity</option>-->
                                            <option value="price_low_high">Price: Low to High</option>
                                            <option value="price_high_low">Price: High to Low</option>
                                            <option value="name_a_to_z">Name: A to Z</option>
                                            <option value="name_z_to_a">Name: Z to A</option>
                                            <!--<option value="avg_rating">Average Ratings</option>-->
                                                <!-- Add more sorting options here -->
                                            </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-light" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form> <!-- search-wrap .end// -->
                            </div> <!-- col.// --></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            {% if user.id is None %}
						
						<div class="widget-header">
							<small class="title text-muted">Welcome guest!</small>
							<div>
								<a href="{% url 'loginn' %}">Sign in</a> <span class="dark-transp"> </span>
								<a href="{% url 'register' %}"> Register</a>
							</div>
						</div>	
						
						{% else %}
					
								<div class="widget-header">
								<small class="title text-muted">Welcome {{user.first_name}}</small>
								<div>
								<a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> </span>
								<a href="{% url 'logout' %}"> Log out</a>
							</div>
							</div>
						{% endif %}
                        </div>
                            
                        <ul class="header__right__widget"> 
                            <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span>
                                <div class="tip">{{ wishlist_count }}</div>
                            </a></li>
                            <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                                <div class="tip">{{ cart_count }}</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="{% static 'img/banner/banner-1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>GLOBAL STORE</span>
                            <h1>STAY STYLISH</h1>
                            <a href="{% url 'store' %}">Explore now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>THE LUXE COLLECTION</span>
                            <h1>THE MINIMAL STYLES</h1>
                            <a href="{% url 'store' %}">Explore Luxe</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>THE HOUSE OF NYKAA FASHION</span>
                            <h1>THE LATEST COLLECTION</h1>
                            <a href="{% url 'store' %}">Explore now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

    
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="{%static 'img/categories/category-1.jpg' %}">
                    <div class="categories__text">
                        <h1>Women’s fashion</h1>
                        <a href="{% url 'store' %}">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{%static 'img/categories/category-2.jpg' %}">
                            <div class="categories__text">
                                <h4>Men’s fashion</h4>
                                
                                <a href="{% url 'store' %}">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{%static 'img/categories/category-3.jpg' %}">
                            <div class="categories__text">
                                <h4>Kid’s fashion</h4>
                                
                                <a href="{% url 'store' %}">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{%static 'img/categories/category-4.jpg' %}">
                            <div class="categories__text">
                                <h4>Cosmetics</h4>
                                
                                <a href="{% url 'store' %}">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="{%static 'img/categories/category-5.jpg' %}">
                            <div class="categories__text">
                                <h4>Accessories</h4>
                                
                                <a href="{% url 'store' %}">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".women">Women’s</li>
                    <li data-filter=".men">Men’s</li>
                    <li data-filter=".kid">Kid’s</li>
                    <li data-filter=".accessories">Accessories</li>
                    <li data-filter=".cosmetic">Cosmetics</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            {% for product in products %}
            {% if product.is_active %}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{{ product.image.first.image.url }}">
                        
                        <!-- <div class="label new">New</div> -->
                        <ul class="product__hover">
                            <li><a href="{{ product.image.first.image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="{{ product.get_url }}">{{ product.product_name}}</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="price mt-1">
                            {% if product.discount > 0  %}
                            <del class="price-old">{{ product.price }}</del>
                            <span class="price-discount">{{ product.price_after_discount }}</span>
                            <br>
                            <span class="discount-label">({{ product.discount }}% off)</span>
                        {% elif product.category.category_discount > 0 %}
                            <del class="price-old">{{ product.price }}</del>
                            <span class="price-discount">{{ product.price_after_discount }}</span>
                            <br>
                            <span class="discount-label">({{ product.category.category_discount }}% off)</span>
                        {% else %}
                            <span class="price">{{ product.price }}</span>
                        {% endif %}
                    </div>
                        <a href="{% url 'product_details' category_slug=product.category.slug product_slug=product.slug %}"></a>
                    </div>
                    <div class="text-center">
                    <a class="text-dark" href="{% url 'product_details' category_slug=product.category.slug product_slug=product.slug %}">View</a>
                </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            
        </div>
    </div>
</section>
<!-- Product Section End -->


<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all order </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Replacement</h6>
                    <p>7 days Replacement</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="{%static 'img/logo.png' %}" alt=""></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#"><img src="{%static 'img/payment/payment-1.png' %}" alt=""></a>
                        <a href="#"><img src="{%static 'img/payment/payment-2.png' %}" alt=""></a>
                        <a href="#"><img src="{%static 'img/payment/payment-3.png' %}" alt=""></a>
                        <a href="#"><img src="{%static 'img/payment/payment-4.png' %}" alt=""></a>
                        <a href="#"><img src="{%static 'img/payment/payment-5.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{%static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{%static 'js/jquery-ui.min.js' %}" ></script>
<script src="{%static 'js/mixitup.min.js' %}"></script>
<script src="{%static 'js/jquery.countdown.min.js' %}"></script>
<script src="{%static 'js/jquery.slicknav.js' %}"></script>
<script src="{%static 'js/owl.carousel.min.js' %}"></script>
<script src="{%static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{%static 'js/main.js' %}"></script>
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</body>
</html>